body {
  font-family: 'Quicksand', sans-serif;
  background-color: #111111;
}

main {
  background-image: url(/images/background.avif);
  background-position: center;
  background-size: cover;
  padding: 10px 0;
}

#hero-content {
  font-family: 'Raleway', sans-serif;
  background-color: #12132890;
  box-shadow: 2px 4px 8px #4a4a4a95;
  width: 1300px;
  margin: 25vh auto 0 auto;
  padding: 50px;
  text-align: center;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  color: #ffffff;
}

#hero-content h1 {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.5rem;
}

#hero-content a {
  background-color: #ff0073;
  display: inline-block;
  margin-top: 40px;
  padding: 10px 20px;
  border: 3px solid transparent;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  box-shadow: 2px 2px 8px #332e49;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

#hero-content a:hover {
  background-color: #ffffff;
  border: 3px solid #ff0073;
  color: #ff0073;
}

#highlights {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(0deg, transparent, #c5c5c595, transparent);
  padding: 24px;
  width: 100%;
}

#highlights h2 {
  text-transform: uppercase;
  margin: 40px 0;
  font-size: 2.375rem;
  font-weight: 700;
  text-shadow: 1px 1px 1px #f7f7f7;
  color: #ff0073;
}

#highlights ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  flex-wrap: wrap;
  width: 1300px;
  gap: 20px;
}

.places {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.places img {
  width: 400px;
  height: 130px;
  object-fit: cover;
  box-shadow: 2px 4px 4px #4a4a4a95;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.places img:hover {
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
}

.places h3 {
  margin: 20px;
}

.country {
  color: #ff0073;
}
